<!DOCTYPE html>
<html lang="en">


<head>
	<title>Basic Chords</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href= "/stylesheets/style.css" rel="stylesheet" type="text/css" /> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>


<body>
   <nav class="unique-nav">
    <img src="images/LogoHome.png" alt="Guitar Easy Logo">
    <div class="logo-guitar">Guitar Easy</div>
    <center>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="listoftutors">List of Tutors</a></li>
        <li><a href="basicchords">Basic Chords and Pattern</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="register">Register</a></li>
        <li><a href="login">Login</a></li>
      </ul>
    </center>
  </nav>
 
  <div class="pointing-arrow" onclick="scrollToBottom()">
    <div class="arrow"></div>
  </div>
  
  <section class="icon-section">
    <div class="icon-section">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fas fa-envelope"></i></a>
    </div>
  </section>
  

  <section class="unique-section">
    <center>
      <h1>Step into the world of chords with our Basic Chords Page! Unlock the secrets of strumming mastery and perfect finger positioning for a solid foundation.</h1>
    </center>
  </section>
  
  <center>
    <div class="chordscontainer">
      <h1 class="bottomline">Simple Guide that will help your journey</h1>
    </div>
  </center>


	<center>
	
		<div class="row">
			
			<img src="images/ChordsG.png" width="500px" alt ="Guitar">
			<img src="images/ChordsD.png" width="500px" alt ="Guitar">
			<img src="images/ChordsC.png" width="500px" alt ="Guitar">
			</div>
	

		<div class="row">	
		<img src="images/ChordAnew.png" width="500px" alt ="Guitar">
		<img src="images/ChordsEnew.png" width="500px" alt ="Guitar">
	
	</div>	
	</center>
	
	
	
<center>	



	
<div class="row-container">
<iframe width="300" height="250" 
src="https://www.youtube.com/embed/qAlyjGrThGo"
title="YouTube video player" frameborder="0" allow="accelerometer;
autoplay; clipboard-write; encrypted-media; gyroscope;
picture-in-picture" allowfullscreen></iframe>

	<iframe width="300" height="250" 
src="https://www.youtube.com/embed/E1dXHPIO_O4"
title="YouTube video player" frameborder="0" allow="accelerometer;
autoplay; clipboard-write; encrypted-media; gyroscope;
picture-in-picture" allowfullscreen></iframe>
	
	<iframe width="300" height="250" 
src="https://www.youtube.com/embed/uxutFXrrX5A"
title="YouTube video player" frameborder="0" allow="accelerometer;
autoplay; clipboard-write; encrypted-media; gyroscope;
picture-in-picture" allowfullscreen></iframe>	
</div>	
</center>

</center>

<div class="title-contact">
<h1>
Get in Touch With us</h1>
<h2>
"Discover the Possibilities"</h2>
</div>
<center>


<center>
<div class="container-forms">

	<form id="contact-form" method="post" action="/sendmail">
	<input type="text" id="contact-name" name="name"  class="form-control" placeholder="Enter Your Name" required><br>
	<input type="email" id="contact-email" name="email" class="form-control" placeholder="Enter Your Email" required><br>
	<input type="number" id="contact-number" name="number" class="form-control" placeholder="Phone Number" required><br>
	<textarea name="message" id="contact-message" class="form-control"  placeholder="Message" rows="4" required> </textarea><br>
	<button type="submit"  class="btn btn-primary">Submit</button>
	
	</form>
	
	
	 <div class="contact-info">
 
      <div id="contact-numbercon">
        <a href="tel:+123456789"><img src="images/contactcon.png" alt="Contact Number">  <a href="tel:+123456789">+123 456 789</a></a>
      </div>
      <div id="contact-facecon">
        <a href="https://www.facebook.com/yourpage"><img src="images/fbcon.png" alt="Facebook"><a href="">Jefferson Maghanoy</a></a>
      </div>
      <div id="contact-conmail">
        <a href="mailto:contact@yourdomain.com"><img src="images/emailcon.png" alt="Email"><a href="">jeff.maghanoy0127@gmail.com</a></a>
	<div id="contact-addcon">
		<a href=""><img src="images/addressicon.png" alt="Address">185a Rangitara Road, Beachaven</a>
		</div>
      </div>
    </div>
</div>
 
 </center>
 
	
  

  <script>
    function scrollToBottom() {
      const content = document.querySelector(".bottom-content");
      content.scrollIntoView({ behavior: 'smooth', block: 'end' });
    }
  </script>



	
</body>
</html>