<!DOCTYPE html>
<head>
	<title>Contact</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href= "/stylesheets/style.css" rel="stylesheet" type="text/css" /> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>



	  <nav class="unique-nav">
	  <img src="images/LogoHome.png" alt="Guitar Easy Logo">
    <div class="logo-guitar">Guitar Easy</div>
<center>
    <ul>
	<li><a href=/ >Home</a></li>
      <li><a href="listoftutors">List of Tutors</a></li>
      <li><a href="basicchords">Basic Chords and Pattern</a></li>
      <li><a href="contact">Contact</a></li>
      <li><a href="register">Register</a></li>
	    <li><a href="login">Login</a></li>
    </ul>
  </nav>
  </center>
	<section class="icon-section">
    <!-- Your content for the section goes here -->
    
	<div class="icon-section">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fas fa-envelope"></i></a>
  </div>
	</section>

<div class="contact-card">
    <div class="contact-text">
        <p>Have questions, suggestions, or just want to say hello? We'd love to hear from you! 
        <span id="contactme"> Feel free to reach out using the contact information below.
		Our team is here to assist you and ensure you have the best experience with Guitar School.</span>"</p>
    </div>
</div>

<div class="aboutus">
<img src="images/musician.jpg">

</div>
<center>

<h1 class="divfont">Little Things About Me</h1>

<div class="aboutme">
<p class="txtfonts">
<image src="images/aboutmei.jpg">
“Passionate about guitars, I find immense joy in the art of creating music through these beautiful instruments.
 From the soulful strumming of an acoustic to the electrifying solos of an electric guitar, each note resonates with its own unique character.
 With years of experience as a guitarist, I have developed a deep appreciation for the craftsmanship, the delicate balance of tones, 
 and the limitless creative possibilities that guitars offer. Whether it’s exploring the rich history
 of iconic guitarists or diving into the world of innovative techniques, my journey with guitars is a constant source of inspiration and growth. 
 Let’s share the love for guitars and embrace the power of music together.”
</p>
</div>

</center>

<div class="title-contact">
<h1>
Get in Touch</h1>
<h2>
"Discover the Possibilities"</h2>
</div>
<center>
<div class="container-forms">

	<form id="contact-form" method="post" action="/sendmail">
  <input type="text" id="contact-name" name="name" class="form-control" placeholder="Enter Your Name" required><br>
  <input type="email" id="contact-email" name="email" class="form-control" placeholder="Enter Your Email" required><br>
  <input type="number" id="contact-number" name="number" class="form-control" placeholder="Phone Number" required><br>
  <textarea name="message" id="contact-message" class="form-control" placeholder="Message" rows="4" required></textarea><br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

	 <div class="contact-info">
 
      <div id="contact-numbercon">
        <a href="tel:+123456789"><img src="images/contactcon.png" alt="Contact Number">  <a href="tel:+123456789">+123 456 789</a></a>
      </div>
      <div id="contact-facecon">
        <a href="https://www.facebook.com/yourpage"><img src="images/fbcon.png" alt="Facebook"><a href="">Jefferson Maghanoy</a></a>
      </div>
      <div id="contact-conmail">
        <a href="mailto:contact@yourdomain.com"><img src="images/emailcon.png" alt="Email"><a href="">jeff.maghanoy0127@gmail.com</a></a>
	<div id="contact-addcon">
		<a href=""><img src="images/addressicon.png" alt="Address">185a Rangitara Road, Beachaven</a>
		</div>
      </div>
    </div>
</div>
 
 </center>
 




</body>
</html>