<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Guitar Easy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href= "/stylesheets/style.css" rel="stylesheet" type="text/css" /> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
  
  <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Homemade+Apple&family=Koulen&family=Poppins:wght@100;300;500;600&family=Tilt+Prism&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
 </head>
 <body>
	
  <nav class="unique-nav">
	  <img src="images/LogoHome.png" alt="Guitar Easy Logo">
    <div class="logo-guitar">Guitar Easy</div>
<center>
    <ul>
	<li><a href=/ >Home</a></li>
      <li><a href="listoftutors">List of Tutors</a></li>
      <li><a href="basicchords">Basic Chords and Pattern</a></li>
      <li><a href="contact">Contact</a></li>
      <li><a href="register">Register</a></li>
	    <li><a href="login">Login</a></li>
    </ul>
  </nav>
  </center>
  
<section class="icon-section">
    <!-- Your content for the section goes here -->
    
	<div class="icon-section">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fas fa-envelope"></i></a>
  </div>
	</section>

<div class="home-card">
    <div class="home-text">
        <p>"Welcome to GuitarEasy: Your bridge to guitar mastery. Learn or teach guitar effortlessly through our tailored courses and expert guidance. 
        <span id="unleash">Unleash your musical journey with us today!</span>"</p>
    </div>
</div>
<div class="aboutus">
<img src="images/about.jpg">



</div>
<center>



<h1 class="sloganfont"> What  guitar
<span style="color:#C2A825;">Easy</span>
can do for you??</span>
</h1>

<div class="container">
<p class="pfont"> guitarEasy is a website for Tutors who want share there skills and talent and for students who want 
to learn guitar. For students We will help you to achieve your goal and navigate the right tutors for you and learn basic to advance guitar skills. we have list
of tutor that you can choose from on different genre style. 
.We offers outstanding affordable guitar online and in person tutoring services.
</p>
</div>


<h1 class="sloganfont3"> 
Vetted Tutors?
</h1>

<div class="container">
<p class="pfont">We selected list of highly qualified teachers that offers
personalized that matched your preffered needs and materials. We want to work with best of the best!!.
</p>
</div>





<h1 class="sloganfont2"> 
Want To sign up as Tutor?
</h1>

<div class="container">
<p class="pfont"> If you have a passion and skills teaching guitar. Don't hesistate to connect with us. We will help you to build your career and portfolio.
</p>
</div>



<div>
<center>
	<!--image card layout start-->
	<div class="imgcontainer">
	<!--image row start-->
		<div class="row">
		<!--image card start-->
		<div class="image">
			<img src="images/guitarmate.jfif" height="480px" width="350px" alt ="Guitar">
			<div class="details">
			<h2>Beginner <span>skills</span></h2>
			<p style="color:#D5DBDB  ;">As a fresher, you will be introduced to individual notes and try to memorize them.
			But the key guitar skill is to learn basic chords and use them in songs. While notes familiarise you with the fretboard,
			knowledge of common guitar chords is a simpler way, to begin with</p>
			<div class="more">
			
			<a href="#" class="read-more">Read<span>more</span></a>
			<div class="icon-links">
		
			</div>
		</div>
	</div>
</div>
<!--image card end-->
<!--image card start-->
		<div class="image">
			<img src="images/Epiphone.jfif" height="480px" width="350px" alt ="Guitar">
			<div class="details">
			<h2>Intermediate <span>skills</span></h2>
			<p style="color:#85C1E9;">To be considered an intermediate player, you'll need to be able to do the following: 
Know and be able to change smoothly between your fundamental open chords. 
			Know power chords and be able to move them around cleanly.
			Know the basic Major and Minor bar chord shapes. Know the note names on the Low E and A strings.</p>
			<div class="more">
			<a href="#" class="read-more">Read<span>more</span></a>
			<div class="icon-links">
		
			</div>
		</div>
	</div>
</div>
<!--image card end-->
<!--image card start-->
		<div class="image">
			<img src="images/gutiarmate2.jfif" height="480px" width="350px" alt ="Guitar">
			<div class="details">
			<h2>Advance <span>skills</span></h2>
			<p style="color:#FFFF00;">Advanced guitar techniques like sweep picking, travis picking,
			two-hand tapping open up a myriad of expression and creativity to playing. 
			More than anything, 
			the mastery of these techniques elevate the guitar into an instrument that is richer and fuller.</p>
			<div class="more">
			<a href="#" class="read-more">Read<span>more</span></a>
			<div class="icon-links">
		
			</div>
		</div>
	</div>
</div>
<!--image card end-->	
</center>		
	
	

	<div id="divHome">
	<center>
	<h1 class="divfont"> Strum your way to greatness and become a guitar virtuoso!!</h1>
	
   <p class="fontfont">
   
   <image src="images/bullshit1.jpg">
   
   “Embark on a musical journey to become a masterful guitarist, 
   just like the legendary Jimmy Hendrix, Eric Clapton and Eddie Van Halen. 
   Let their electrifying solos and soulful melodies be your guiding inspiration as you strive to achieve greatness.
   Immerse yourself in the magic of their music, study their techniques, and unleash your own creative expression on the strings.
   Embrace the dedication, passion, and unwavering determination that propelled these guitar gods to new heights. With every note you play,
   let their influence fuel your desire to push the boundaries of what’s possible. Embrace the instrument as an extension of your soul, 
   and let the world bear witness to your own unique sound. Embrace the challenge, embrace the artistry, and become a true guitar virtuoso,
   leaving a lasting legacy of musical brilliance in the footsteps of Jimmy Hendrix, Eric Clapton, Eddie Van Halen .”

     
		</p>
      
	
	</div>
	</center>

<div id="hero-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
   <li data-target="#hero-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#hero-carousel" data-slide-to="1"></li>
    <li data-target="#hero-carousel" data-slide-to="2"></li>
	<li data-target="#hero-carousel" data-slide-to="3"></li>
	<li data-target="#hero-carousel" data-slide-to="4"></li>
	
  </ol>
  
  <div class="carousel-inner">
    <div class="carousel-item active c-item">
      <img class="d-block w-100 c-img" src="images/hendrix.jpg" alt="First slide">
		<div class="carousel-caption d-none d-md-block">
    <h1 class="carofont">Jimmy Hendrix</h5>
    <p class="Cfont">James Marshall "Jimi" Hendrix was an American guitarist, 
	songwriter and singer. Although his mainstream career spanned only four years, 
	he is widely regarded as one of the most influential electric guitarists in the history of popular music,
	and one of the most celebrated musicians of the 20th century</p>
  </div>
	</div>
    <div class="carousel-item c-item">
      <img class="d-block w-100 c-img" src="images/tim.jpg" alt="Second slide">
    <div class="carousel-caption d-none d-md-block">
    <h1 class="carofont">Tim Henson</h5>
    <p class="Cfont">Tim Henson (started in 2010, genre: 
	progressive rock/metal) is the guitarist and co-vocalist of the band Polyphia. </p>
  </div>
	</div>
    <div class="carousel-item c-item">
      <img class="d-block w-100 c-img" src="images/clapton.jpg" alt="Third slide">
    <div class="carousel-caption d-none d-md-block">
    <h1 class="carofont">Eric Clapton</h5>
    <p class="Cfont">Eric Patrick Clapton CBE is an English rock 
	and blues guitarist, singer, and songwriter. He is regarded as 
	one of the most successful and influential 
	guitarists in rock music.</p>
  </div>
	</div>
	<div class="carousel-item c-item">
      <img class="d-block w-100 c-img" src="images/eddievan.jpg" alt="Fourth slide">
    <div class="carousel-caption d-none d-md-block">
    <h1 class="carofont">Eddie Van Halen</h5>
    <p class="Cfont">Edward Lodewijk Van Halen was an American musician.
	He was the guitarist, keyboardist, backing vocalist,
	and primary songwriter of the rock band Van Halen,
	which he founded with his brother Alex in 1972.</p>
  </div>
	</div>
	<div class="carousel-item c-item">
      <img class="d-block w-100 c-img" src="images/li2.jpg" width="300px" alt="Fifth slide">
	<div class="carousel-caption d-none d-md-block">
    <h1 class="carofont">Herman Li</h5>
    <p class="Cfont">Herman Li (Chinese: 李康敏; born 3 October 1976) is a Hong Kong-born 
	British musician who is one of two lead guitarists for the power metal band DragonForce .</p>
  </div>
   </div>
  </div>
   <a class="carousel-control-prev" href="#hero-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#hero-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
	
	
	


<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>




<footer>

<div class="footer-links">

<img src="images/LogoHome.png">

  <a href="#faq">FAQ</a>
  <a href="#contact">Contact</a>
  <a href="#policies">Policies</a>
</div> 

 <div class="social-icons">
  <a href="https://www.facebook.com/yourpage" target="_blank"><i class="fab fa-facebook"></i></a>
  <a href="https://www.instagram.com/yourpage" target="_blank"><i class="fab fa-instagram"></i></a>
  <a href="tel:+1234567890"><i class="fas fa-phone"></i><span class="phone-number">0221768865</span></a>
  <i class="music-icon">♪</i>
</div>
    <p class="copy-right">&copy; 2023 guitarEasy. All rights reserved.</p>
  </div>
</footer>

 </body>
</html>
