<!DOCTYPE html>
<html lang="en">
<head>
	<title>List of Tutors</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href= "/stylesheets/style.css" rel="stylesheet" type="text/css" /> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">
	 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
<link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Homemade+Apple&family=Koulen&family=Poppins:wght@100;300;500;600;700&family=Tilt+Prism&display=swap" rel="stylesheet">
     
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<!--custom js file link -->
	<script src="Js/server2.js" defer></script>	

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

  <nav class="unique-nav">
	  <img src="images/LogoHome.png" alt="Guitar Easy Logo">
    <div class="logo-guitar">Guitar Easy</div>
<center>
    <ul>
	<li><a href=/ >Home</a></li>
      <li><a href="listoftutors">List of Tutors</a></li>
      <li><a href="basicchords">Basic Chords and Pattern</a></li>
      <li><a href="contact">Contact</a></li>
      <li><a href="register">Register</a></li>
	    
    <li><a href="login">Login</a></li>
    </ul>
  </nav>
  </center>

<section class="icon-section">
    
	<div class="icon-section">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fas fa-envelope"></i></a>
  </div>
	</section>

<div class="listtutor-card">
    <div class="listtutor-text">
        <p>""Explore Our Expert Guitar Tutors to Elevate Your Playing Skills!"</p>
        
    </div>
</div>
<div class="aboutus">
<img src="images/amplifier.jpg">

</div>



<center>
<div class="hero4">
<h1 class="potential-1"><span style="color:#9FA5A5;">Choose your Tutor</span></h1>
<h2 style="color:#C2A825;"><h2>
</div>
</div>


<center>
<h1 class="bottomline"> You're off to a great start!! </h1>
<h2 class="text-muted">Choose tutor that suit your Genre!</h2>
</center>	
<div class="containercard">
   <div class="row gy-">	
		<div class="col-md-3"> 
			<div class="card shadow" style="width 18rem;">
				<div class="inner">
				<img src="images/card03.jfif" class="card-img-top" alt="...">
			    </div>	
					<div class="card-body">
						<h5 class="card-title">Name</h5>
					<p class="card-text">Tutor Details</p>
				
			</div>	
		</div>
	</div>
<div class="col-md-3"> 
			<div class="card shadow" style="width 20rem;">
				<div class="inner">
				<img src="images/card02.jfif" class="card-img-top" alt="...">
			    </div>	
					<div class="card-body">
						<h5 class="card-title">Name</h5>
					<p class="card-text">Tutor Details</p>
				
			</div>	
		</div>
	</div>	
<div class="col-md-3"> 
			<div class="card shadow" style="width 20rem;">
				<div class="inner">
				<img src="images/card03.jfif" class="card-img-top" alt="...">
				</div>
					<div class="card-body">
						<h5 class="card-title">Name</h5>
					<p class="card-text">Tutor Details</p>
				
			</div>	
		</div>
	</div>

<div class="col-md-3"> 
			<div class="card shadow" style="width 20rem;">
				<div class="inner">
				<img src="images/card02.jfif" class="card-img-top" alt="...">
				</div>
					<div class="card-body">
						<h5 class="card-title">Name</h5>
					<p class="card-text">Tutor Details</p>
				
			</div>	
		</div>
	</div>
<div class="col-md-3"> 
			<div class="card shadow" style="width 20rem;">
				<div class="inner">
				<img src="images/card02.jfif" class="card-img-top" alt="...">
				</div>
					<div class="card-body">
						<h5 class="card-title">Name</h5>
					<p class="card-text">Tutor Details</p>
			
			</div>	
		</div>
	</div>
<div class="col-md-3"> 
			<div class="card shadow" style="width 20rem;">
				<div class="inner">
				<img src="images/card03.jfif" class="card-img-top" alt="...">
				</div>
					<div class="card-body">
						<h5 class="card-title">Name</h5>
					<p class="card-text">Tutor Details</p>
				
			</div>	
		</div>
	</div>
<div class="col-md-3"> 
			<div class="card shadow" style="width 20rem;">
				<div class="inner">
				<img src="images/card02.jfif" class="card-img-top" alt="...">
				</div>
					<div class="card-body">
						<h5 class="card-title">Name</h5>
					<p class="card-text">Tutor Details</p>
				
			</div>	
		</div>
	</div>
<div class="col-md-3"> 
			<div class="card shadow" style="width 20rem;">
				<div class="inner">
				<img src="images/card03.jfif" class="card-img-top" alt="...">
				</div>
					<div class="card-body">
						<h5 class="card-title">Name</h5>
					<p class="card-text">Tutor Details</p>
				
			</div>	
		</div>
	</div>	



	</div>	
</div>


<center>
<div class="hero3">
<h1 class="potential"><span style="color:#9FA5A5;">Next Choose your Style</span></h1>
<h2 style="color:#C2A825;"><h2>
</div>
</center>


<center>
<h1 class="bottomline"> Music Audio Sample</h1>
<h2 class="text-muted">Play the sample track and enjoy!!!</h2>
</center>

<div class="newcontainer">
<center>
<div class="music-container">



<div class="mbox">
<div class="imagem">
<img src="images/Musiclogo.png">
</div>
<div class="music">
<audio src="images/onlymp3Rock.mp3"  controls></audio>
</div>
<div class="right">
<p class="textcolor">
Rock music is usually in 4/4 time and most songs use a verse-chorus structure. 
It is usually performed by bands that include the electric guitar, 
bass guitar and drums, and with at least one singer. 
Lyrics in rock music can be based on many topics, but will often include subjects such as love, 
society and politics.
</p>
</div>
</div> 

<div class="mbox">
<div class="imagem">
<img src="images/Musiclogo1.png" alt="">
</div>

<div class="music">
<audio src="images/onlymp3Blues.mp3" controls></audio>
</div>
<div class="right">
<p class="textcolor">
The main features of blues include:
 specific chord progressions, a walking bass, call and response, 
 dissonant harmonies, syncopation, melisma and flattened 'blue' notes.
 Blues is known for being microtonal, u
 sing pitches between the semitones defined by a piano keyboard.

</p>
	</div>
</div> 

<div class="mbox">
<div class="imagem">
<img src="images/Musiclogo2.png" alt="">
</div>

<div class="music">
<audio src="images/onlymp3Reggae.mp3" controls></audio>
</div>
<div class="right">
<p class="textcolor">
"Reggae incorporates a high amount of off-beat rhythms. 
These are usually staccato beats played by a guitar or piano 
(sometimes both) on the off-beats (also known as “upbeats”) of a measure.
 This gives most reggae music a 'jumpy' feel. 
 The “one drop rhythm” is another pattern often noticed in reggae."
</p>
	</div>
</div> 

<div class="mbox">
<div class="imagem">
<img src="images/Musiclogo3.png" alt="">
</div>
<div class="music">
<audio src="images/onlymp3People.mp3" controls></audio>
</div>
<div class="right">
<p class="textcolor">
Identifying factors of pop music usually include repeated choruses and hooks, 
short to medium-length songs written in a basic format (often the verse–chorus structure), 
and rhythms or tempos that can be easily danced to.
</p>
</div>
</div> 

<div class="mbox">
<div class="imagem">
<img src="images/Musiclogo4.png" alt="">
</div>

<div class="music">
<audio src="images/onlymp3Metalcut.mp3" controls></audio>
</div>
<div class="right">
<p class="textcolor">
Characteristics. Heavy metal is traditionally characterized by loud distorted guitars, 
emphatic rhythms, dense bass-and-drum sound and vigorous vocals.
 Heavy metal subgenres variously emphasize, alter or omit one or more of these attributes.
</p>
</div>
</div> 

<div class="mbox">
<div class="imagem">
<img src="images/Musiclogo5.png" alt="">
</div>
<div class="music">
<audio src="images/onlymp3Jazz.mp3" controls></audio>
</div>
<div class="right">
<p class="textcolor">
"What is the characteristics of jazz music?
Jazz is characterized by swing and blue notes,
 complex chords, call and response vocals, polyrhythms and improvisation.
 Jazz has roots in European harmony and African rhythmic rituals."
</p>
</div>
</div> 
</center>

</div>
					
<h3 class="fontform"> Guitar Easy</h3>
<h5 class="hn5"> We are Award Winning Guitar School Website from New Zealand. We will Help you improve your 
guitar skills and knowledge. 
</h5>



<center>
<div class="container-forms">

	<form id="contact-form" method="post" action="/sendmail">
	<input type="text" id="contact-name" name="name"  class="form-control" placeholder="Enter Your Name" required><br>
	<input type="email" id="contact-email" name="email" class="form-control" placeholder="Enter Your Email" required><br>
	<input type="number" id="contact-number" name="number" class="form-control" placeholder="Phone Number" required><br>
	<textarea name="message" id="contact-message" class="form-control"  placeholder="Message" rows="4" required> </textarea><br>
	<button type="submit"  class="btn btn-primary">Submit</button>
	
	</form>
	
	
	 <div class="contact-info">
 
      <div id="contact-numbercon">
        <a href="tel:+123456789"><img src="images/contactcon.png" alt="Contact Number">  <a href="tel:+123456789">+123 456 789</a></a>
      </div>
      <div id="contact-facecon">
        <a href="https://www.facebook.com/yourpage"><img src="images/fbcon.png" alt="Facebook"><a href="">Jefferson Maghanoy</a></a>
      </div>
      <div id="contact-conmail">
        <a href="mailto:contact@yourdomain.com"><img src="images/emailcon.png" alt="Email"><a href="">jeff.maghanoy0127@gmail.com</a></a>
	<div id="contact-addcon">
		<a href=""><img src="images/addressicon.png" alt="Address">185a Rangitara Road, Beachaven</a>
		</div>
      </div>
    </div>
</div>
 
 </center>
 
	
  





</body>
</html>