<!DOCTYPE html>
<head>
	<title>Videos</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href= "/stylesheets/style.css" rel="stylesheet" type="text/css" /> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

</head>
<body>
	<div class="container">
		<ul class="nav nav-tabs" role="tablist">
			<li class="active"><a href=/>Home</a></li>
			<li><a href=getstarted>Get Started</a></li>
			<li><a href=listoftutors>List of Tutors</a></li>
			<li><a href=basicchords>Basic Chords and Pattern </a></li>
			<li><a href=graph>Graph</a></li>
			<li><a href=aboutus>About Us</a></li>
			<li><a href = "https://hellomusictheory.com/learn/types-of-guitars/"/>Guitar Style</a></li>        
		</ul>
	</div>


<div class="aboutus">
<img src="images/aboutus.jpg">

</div>

<div class="formcontainer">
<form onsubmit="sendEmail(); reset(); return false;">
<div class="title">
	<h1>Talk to Us</h1>
	<h2> We will make sure that you will get the tutor that match for your need </h2>
	</div>
	<div class="boxform">
	<form>
	<input type="text" name="name" class="form-control" placeholder="Enter Your Name" required><br>
	<input type="email" name="name" class="form-control" placeholder="Enter Your Email" required><br>
	<input type="number" name="name" class="form-control" placeholder="Phone Number" required><br>
	<textarea name="message" class="form-control"  placeholder="Message" rows="4" required> </textarea><br>
	<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	</form>
</div>
</div>

</body>
</html>